@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 5px;
  font-family: "Lato", sans-serif;
  background: #fff;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  z-index: 2;
}

.scrolled {
  position: fixed;
  top: 0;
  height: 40px;
  padding: 10px 40px;
  background: #a2acbd;
  opacity: 0.8;
}

.nav-bar {
  display: block;
}

.nav-list {
  list-style: none;
  display: inline-flex;
}

.nav-item {
  margin: 0 5px;
}

.nav-link {
  text-decoration: none;
  color: #5d7ed2;
  font-size: 1rem;
  font-weight: 600;
}

.nav-link:hover {
  color: #108ce2;
  text-decoration: underline;
}

.menu-btn {
  display: none;
}

.menu {
  display: none;
}

.carousel {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 500px;
  transition: all 0.5s ease-in-out;
}

.right-arrow,
.left-arrow {
  position: absolute;
  top: 70%;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
  color: #889fa5;
  z-index: 1;
  user-select: none;
  transition: 0.2s ease;
}

.left-arrow {
  left: 10px;
}

.right-arrow:hover,
.left-arrow:hover {
  color: #108ce2;
  transform: scale(1.2);
}

.topic {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 15%;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 40px 5px 30px;
  margin: 10px 0;
  border-bottom: 2px solid #a2acbd;
}

.about img {
  width: 100px;
}

.about h3 {
  color: #108ce2;
  font-size: 1.5rem;
}

.about p {
  color: #108ce2;
}

.full {
  color: #ffd700;
}

.hollow {
  color: #fff;
  stroke: #000;
  stroke-width: 20;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  color: #108ce2;
  font-size: 2.2rem;
  transition: 0.3s ease;
}

.icon:hover {
  transform: scale(0.9);
  color: #fff;
  stroke: #108ce2;
  stroke-width: 20;
}

.services {
  margin-bottom: 20px;
  padding: 40px 0 0 0;
  border-bottom: 2px solid #a2acbd;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.card img {
  width: 70%;
  height: 30%;
  background: #108ce2;
  transition: 0.5s ease;
}

.card img:hover {
  transform: scale(0.98);
}

.card h3,
p {
  color: #108ce2;
  font-size: 1.2rem;
  margin: 10px 0;
}

.icons_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_ {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  text-align: center;
}

.reservations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 0 10px;
  border-bottom: 2px solid #a2acbd;
  text-align: center;
}

.reservations h3 {
  color: #108ce2;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 20px 0;
  padding: 5px 10px;
}

.box_s {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
}

.xs {
  font-size: 2rem;
  color: #108ce2;
}

.contact {
  width: 120%;
  background: #fdf1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding: 40px 0 60px;
}

.flex_c {
  border-bottom: 2px solid #a2acbd;
}

.sm-icon {
  cursor: pointer;
  transition: 0.3s ease;
  color: #108ce2;
}

.sm-icon:hover {
  transform: scale(1.4);
  color: #fff;
  stroke: #108ce2;
  stroke-width: 20;
}

.flex_b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #108ce2;
  padding: 10px 0;
}

.input-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-box input {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid #108ce2;
  background: transparent;
  color: #108ce2;
}

.grid_c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5px 0;
  padding: 20px 0;
}

.grid_c img {
  width: 100%;
}

.c {
  margin: 20px 0;
}

.b {
  width: 80%;
  border-bottom: 2px solid #a2acbd;
  cursor: pointer;
  margin: 0 0 5px;
  text-align: left;
}

.acc-btn {
  font-size: 0.7rem;
}

.acc-btn.rotate {
  transform: rotate(90deg);
}

footer {
  width: 100%;
  height: 20px;
  color: #5d7ed2;
  text-align: center;
}

footer p {
  font-size: 1rem;
}

footer span {
  color: #108ce2;
  font-weight: 600;
  font-size: 1rem;
}

@media screen and (max-width: 650px) {
  .nav-bar {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .menu {
    display: block;
  }

  .image {
    width: 100%;
    height: 250px;
  }

  .carousel {
    height: 300px;
  }

  .topic {
    font-size: 1.2rem;
  }

  .about h3 {
    font-size: 1rem;
  }

  .about p {
    font-size: 0.8rem;
  }

  .about img {
    width: 50px;
  }

  .icon {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 1rem;
  }

  .icons_ {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid_c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .b {
    width: 100%;
  }

  footer {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 700px) {
  .image {
    height: 600px;
  }

  .carousel {
    height: 650px;
  }

  .icon {
    font-size: 1.5rem;
  }

  .about p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 900px) {
  .carousel {
    height: 1000px;
  }

  .image {
    height: 900px;
  }
}
